In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import re
import numpy as np

In [2]:
race_df = pd.read_excel(r"C:\Users\kesha\Documents\nss_da10\projects\police-response-capstone\data\race_per_zipcode_nashville.xlsx")

In [3]:
race_df

,B02001,Race,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
0,NaN,All of Nashville,37013,37015,37027,37062,37064,37072,37073,37075,...,37213,37214,37215,37216,37217,37218,37219,37220,37221,37228
1,NaN,Value,Value,Value,Value,Value,Value,Value,Value,Value,...,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value
2,Total:,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,White alone,0.591341,0.42983,0.930695,0.837353,0.887525,0.834885,0.686843,0.936276,0.847771,...,0,0.663045,0.860663,0.701837,0.51202,0.224347,0.93785,0.929303,0.826037,0.315331
4,Black or African American alone,0.268085,0.373497,0.019001,0.045995,0.026906,0.062502,0.161939,0.011655,0.080816,...,0.5,0.222915,0.019944,0.181434,0.346831,0.690903,0,0.026491,0.081359,0.57622
5,American Indian and Alaska Native alone,0.0014,0.003527,0,0.001433,0,0.000836,0.000402,0.000552,0.000985,...,0,0.000126,0.000358,0.001148,0.000164,0,0,0,0.000461,0.003049
6,Asian alone,0.036285,0.052365,0.00157,0.070143,0.007579,0.040237,0.023267,0.016345,0.019167,...,0.40625,0.0411,0.058758,0.040388,0.01491,0.012504,0.02051,0.003738,0.031498,0.009582
7,Native Hawaiian and Other Pacific Islander alone,0.000523,0.000251,0,0,0.004472,0,0.00102,0,0.000943,...,0,0,0,0,0.00023,0,0,0,0,0.014373
8,Some Other Race alone,0.038354,0.053397,0.017169,0.008323,0.014097,0.006454,0.055432,0.010552,0.012233,...,0.09375,0.018361,0.00237,0.012263,0.037833,0.01998,0,0,0.014055,0
9,Two or More Races:,0.064011,0.087134,0.031564,0.036754,0.059421,0.055086,0.071098,0.024621,0.038085,...,0,0.054453,0.057908,0.06293,0.088013,0.052266,0.041641,0.040468,0.04659,0.081446
10,Two races including Some Other Race,0.033761,0.047345,0.019839,0.014537,0.043505,0.035235,0.038407,0,0.025422,...,0,0.024376,0.034655,0.032822,0.060525,0.004896,0,0.001463,0.015945,0.004791
11,"Two races excluding Some Other Race, and three...",0.03025,0.03979,0.011725,0.022216,0.015916,0.01985,0.032691,0.024621,0.012663,...,0,0.030077,0.023253,0.030109,0.027488,0.04737,0.041641,0.039005,0.030645,0.076655
12,* Base value of zero; no percentage available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
race_df.columns = race_df.iloc[0]
race_df

,NaN,All of Nashville,37013,37015,37027,37062,37064,37072,37073,37075,...,37213,37214,37215,37216,37217,37218,37219,37220,37221,37228
0,NaN,All of Nashville,37013,37015,37027,37062,37064,37072,37073,37075,...,37213,37214,37215,37216,37217,37218,37219,37220,37221,37228
1,NaN,Value,Value,Value,Value,Value,Value,Value,Value,Value,...,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value
2,Total:,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,White alone,0.591341,0.42983,0.930695,0.837353,0.887525,0.834885,0.686843,0.936276,0.847771,...,0,0.663045,0.860663,0.701837,0.51202,0.224347,0.93785,0.929303,0.826037,0.315331
4,Black or African American alone,0.268085,0.373497,0.019001,0.045995,0.026906,0.062502,0.161939,0.011655,0.080816,...,0.5,0.222915,0.019944,0.181434,0.346831,0.690903,0,0.026491,0.081359,0.57622
5,American Indian and Alaska Native alone,0.0014,0.003527,0,0.001433,0,0.000836,0.000402,0.000552,0.000985,...,0,0.000126,0.000358,0.001148,0.000164,0,0,0,0.000461,0.003049
6,Asian alone,0.036285,0.052365,0.00157,0.070143,0.007579,0.040237,0.023267,0.016345,0.019167,...,0.40625,0.0411,0.058758,0.040388,0.01491,0.012504,0.02051,0.003738,0.031498,0.009582
7,Native Hawaiian and Other Pacific Islander alone,0.000523,0.000251,0,0,0.004472,0,0.00102,0,0.000943,...,0,0,0,0,0.00023,0,0,0,0,0.014373
8,Some Other Race alone,0.038354,0.053397,0.017169,0.008323,0.014097,0.006454,0.055432,0.010552,0.012233,...,0.09375,0.018361,0.00237,0.012263,0.037833,0.01998,0,0,0.014055,0
9,Two or More Races:,0.064011,0.087134,0.031564,0.036754,0.059421,0.055086,0.071098,0.024621,0.038085,...,0,0.054453,0.057908,0.06293,0.088013,0.052266,0.041641,0.040468,0.04659,0.081446
10,Two races including Some Other Race,0.033761,0.047345,0.019839,0.014537,0.043505,0.035235,0.038407,0,0.025422,...,0,0.024376,0.034655,0.032822,0.060525,0.004896,0,0.001463,0.015945,0.004791
11,"Two races excluding Some Other Race, and three...",0.03025,0.03979,0.011725,0.022216,0.015916,0.01985,0.032691,0.024621,0.012663,...,0,0.030077,0.023253,0.030109,0.027488,0.04737,0.041641,0.039005,0.030645,0.076655
12,* Base value of zero; no percentage available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#Getting rid of rows that I did not need 
b_race_df = race_df.drop([0,1,2,3,5,6,7,8,9,10,11,12])

In [9]:
b_race_df

,NaN,All of Nashville,37013,37015,37027,37062,37064,37072,37073,37075,...,37213,37214,37215,37216,37217,37218,37219,37220,37221,37228
4,Black or African American alone,0.268085,0.373497,0.019001,0.045995,0.026906,0.062502,0.161939,0.011655,0.080816,...,0.5,0.222915,0.019944,0.181434,0.346831,0.690903,0,0.026491,0.081359,0.57622

In [10]:
pd.set_option('display.max_columns', None)

In [11]:
b_race_df

,NaN,All of Nashville,37013,37015,37027,37062,37064,37072,37073,37075,37076,37080,37082,37086,37115,37122,37135,37138,37143,37172,37189,37201,37203,37204,37205,37206,37207,37208,37209,37210,37211,37212,37213,37214,37215,37216,37217,37218,37219,37220,37221,37228
4,Black or African American alone,0.268085,0.373497,0.019001,0.045995,0.026906,0.062502,0.161939,0.011655,0.080816,0.257357,0.090487,0.019443,0.260171,0.363688,0.074666,0.057419,0.105893,0.009093,0.13146,0.484175,0.075351,0.22462,0.114831,0.028393,0.274286,0.58066,0.604067,0.18932,0.349627,0.15341,0.12621,0.5,0.222915,0.019944,0.181434,0.346831,0.690903,0,0.026491,0.081359,0.57622