In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import re
import numpy as np
from datetime import datetime

In [9]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45],
    "kevin": [6,8,10],
   
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

df.index = ['Row_1', 'Row_2', 'Row_3']

In [10]:
df

       calories  duration  kevin
Row_1       420        50      6
Row_2       380        40      8
Row_3       390        45     10

In [18]:
#made a dataframe with all values rounded to two decimal places.

data = {
    "37072":[68,16,22,23,49,22,4.520936],
    "37080":[81,9,15,23,47,23,4.231936],
    "37189":[48,48,6,9,49,34,3.948958],
    "37015":[93,2,8,28,51,19,4.771491],
    "37115":[43,36,29,36,48,12,3.861470],
    "37207":[29,58,20,30,48,14,3.727320],
    "37216":[70,18,18,23,48,28,3.664468],
    "37138":[83,11,10,17,54,27,4.422039],
    "37221":[83,8,14,16,46,35,4.383199],
    "37209":[68,19,17,26,41,26,3.807227],
    "37205":[92,3,9,15,28,54,4.434275],
    "37215":[86,2,17,11,31,56,3.933179],
    "37212":[73,13,18,23,34,38,3.931394],
    "37208":[34,60,9,28,40,22,3.612879],
    "37203":[63,22,20,24,48,21,4.098507],
    "37220":[93,3,8,9,30,60,4.772876],
    "37027":[84,5,15,8,31,59,4.497247],
    "37206":[64,27,14,23,35,33,3.563346],
    "37122":[83,7,13,13,42,43,5.538776],
    "37217":[51,35,23,29,51,14,4.382327],
    "37013":[43,37,28,26,53,17,4.397167],
    "37210":[48,35,23,44,34,16,3.870129],
    "37204":[81,11,11,14,38,44,3.613839],
    "37211":[61,15,33,28,44,21, 4.101627],
    "37086":[53,26,31,23,60,15, 3.692105],
    "37228":[32,58,19,34,48,16,3.840264],
    "37219":[94,0,10,20,56,24,4.263932],
}



df = pd.DataFrame(data)

df.index = ['Percentage White','Percentage Black', 'Percentage Other', 'Percentage Lower Class', 'Percentage Middle Class', 'Percentage Upper Class', 'Average Police Time (in hours)']

In [21]:
df
final_df = df.round(2)

In [22]:
final_df

,37072,37080,37189,37015,37115,37207,37216,37138,37221,37209,...,37206,37122,37217,37013,37210,37204,37211,37086,37228,37219
Percentage White,68.00,81.00,48.00,93.00,43.00,29.00,70.00,83.00,83.00,68.00,...,64.00,83.00,51.00,43.0,48.00,81.00,61.0,53.00,32.00,94.00
Percentage Black,16.00,9.00,48.00,2.00,36.00,58.00,18.00,11.00,8.00,19.00,...,27.00,7.00,35.00,37.0,35.00,11.00,15.0,26.00,58.00,0.00
Percentage Other,22.00,15.00,6.00,8.00,29.00,20.00,18.00,10.00,14.00,17.00,...,14.00,13.00,23.00,28.0,23.00,11.00,33.0,31.00,19.00,10.00
Percentage Lower Class,23.00,23.00,9.00,28.00,36.00,30.00,23.00,17.00,16.00,26.00,...,23.00,13.00,29.00,26.0,44.00,14.00,28.0,23.00,34.00,20.00
Percentage Middle Class,49.00,47.00,49.00,51.00,48.00,48.00,48.00,54.00,46.00,41.00,...,35.00,42.00,51.00,53.0,34.00,38.00,44.0,60.00,48.00,56.00
Percentage Upper Class,22.00,23.00,34.00,19.00,12.00,14.00,28.00,27.00,35.00,26.00,...,33.00,43.00,14.00,17.0,16.00,44.00,21.0,15.00,16.00,24.00
Average Police Time (in hours),4.52,4.23,3.95,4.77,3.86,3.73,3.66,4.42,4.38,3.81,...,3.56,5.54,4.38,4.4,3.87,3.61,4.1,3.69,3.84,4.26

In [25]:
#changing file type to a csv so this can be more easily uploaded into Power BI
final_df.to_csv("../data/final_df.csv", index=True)

In [31]:
#graphs in power bi did not format how I wanted..... trying again 
new_data = {
    "Zip Codes":[37072,37080,37189,37015,37115,37207,37216,37138,37221,37209,37205,37215,37212,37208,37203,37220,37027,37206,37122,37217,37013,37210,37204,37211,37086,37228,37219],
    "Percentage White":[68,81,48,93,43,29,70,83,83,68,92,86,73,34,63,93,84,64,83,51,43,48,81,61,53,32,94],
    "Percentage Black":[16,9,48,2,36,58,18,11,8,19,3,2,13,60,22,3,5,27,7,35,37,35,11,15,26,58,0],
    "Percentage Other":[22,15,6,8,29,20,18,10,14,17,9,17,18,9,20,8,15,14,13,23,28,23,11,33,31,19,10],
    "Percentage Lower Class":[23,23,9,28,36,30,23,17,16,26,15,11,23,28,24,9,8,23,13,29,26,44,14,28,23,34,20],
    "Percentage Middle Class":[49,47,49,51,48,48,48,54,46,41,28,31,34,40,48,30,31,35,42,51,53,34,38,44,60,48,56],
    "Percentage Upper Class":[22,23,34,19,12,14,28,27,35,26,54,56,38,22,21,60,59,33,43,14,17,16,44,21,15,16,24],
    "Average Police Time (in hours)":[4.52,4.23,3.95,4.77,3.86,3.73,3.66,4.42,4.38,3.81,4.43,3.93,3.93,3.61,4.10,4.77,4.50,3.56, 5.54,4.38,4.40,3.87,3.61,4.10,3.69,3.84,4.26],
           }



popo = pd.DataFrame(new_data)

In [32]:
popo

,Zip Codes,Percentage White,Percentage Black,Percentage Other,Percentage Lower Class,Percentage Middle Class,Percentage Upper Class,Average Police Time (in hours)
0,37072,68,16,22,23,49,22,4.52
1,37080,81,9,15,23,47,23,4.23
2,37189,48,48,6,9,49,34,3.95
3,37015,93,2,8,28,51,19,4.77
4,37115,43,36,29,36,48,12,3.86
5,37207,29,58,20,30,48,14,3.73
6,37216,70,18,18,23,48,28,3.66
7,37138,83,11,10,17,54,27,4.42
8,37221,83,8,14,16,46,35,4.38
9,37209,68,19,17,26,41,26,3.81
10,37205,92,3,9,15,28,54,4.43
11,37215,86,2,17,11,31,56,3.93
12,37212,73,13,18,23,34,38,3.93
13,37208,34,60,9,28,40,22,3.61
14,37203,63,22,20,24,48,21,4.10
15,37220,93,3,8,9,30,60,4.77
16,37027,84,5,15,8,31,59,4.50
17,37206,64,27,14,23,35,33,3.56
18,37122,83,7,13,13,42,43,5.54
19,37217,51,35,23,29,51,14,4.38
20,37013,43,37,28,26,53,17,4.40
21,37210,48,35,23,44,34,16,3.87
22,37204,81,11,11,14,38,44,3.61
23,37211,61,15,33,28,44,21,4.10
24,37086,53,26,31,23,60,15,3.69
25,37228,32,58,19,34,48,16,3.84
26,37219,94,0,10,20,56,24,4.26

In [33]:
popo.to_csv("../data/popo.csv", index=True)