In [3]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import re
import numpy as np

In [4]:
income_df = income_df = pd.read_excel(r"C:\Users\kesha\Documents\nss_da10\projects\police-response-capstone\data\income_per_zipcode_nashville.xlsx")

In [5]:
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 42 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   B19001                                                                       18 non-null     object
 1   Household Income in the Past 12 Months (In 2022 Inflation-adjusted Dollars)  19 non-null     object
 2   Unnamed: 2                                                                   19 non-null     object
 3   Unnamed: 3                                                                   19 non-null     object
 4   Unnamed: 4                                                                   19 non-null     object
 5   Unnamed: 5                                                                   19 non-null     object
 6   Unnamed: 6                                                                   19 non-null     object
 7   Unnamed: 7                                                                   19 non-null     object
 8   Unnamed: 8                                                                   19 non-null     object
 9   Unnamed: 9                                                                   19 non-null     object
 10  Unnamed: 10                                                                  19 non-null     object
 11  Unnamed: 11                                                                  19 non-null     object
 12  Unnamed: 12                                                                  19 non-null     object
 13  Unnamed: 13                                                                  19 non-null     object
 14  Unnamed: 14                                                                  19 non-null     object
 15  Unnamed: 15                                                                  19 non-null     object
 16  Unnamed: 16                                                                  19 non-null     object
 17  Unnamed: 17                                                                  19 non-null     object
 18  Unnamed: 18                                                                  19 non-null     object
 19  Unnamed: 19                                                                  19 non-null     object
 20  Unnamed: 20                                                                  19 non-null     object
 21  Unnamed: 21                                                                  19 non-null     object
 22  Unnamed: 22                                                                  19 non-null     object
 23  Unnamed: 23                                                                  19 non-null     object
 24  Unnamed: 24                                                                  19 non-null     object
 25  Unnamed: 25                                                                  19 non-null     object
 26  Unnamed: 26                                                                  19 non-null     object
 27  Unnamed: 27                                                                  19 non-null     object
 28  Unnamed: 28                                                                  19 non-null     object
 29  Unnamed: 29                                                                  19 non-null     object
 30  Unnamed: 30                                                                  19 non-null     object
 31  Unnamed: 31                                                                  19 non-null     object
 32  Unnamed: 32                                                                  19 non-null     object
 33  Unnamed: 33                                                                  19 non-null     object
 34  Unnamed: 34                                                                  19 non-null     object
 35  Unnamed: 35                                                                  19 non-null     object
 36  Unnamed: 36                                                                  19 non-null     object
 37  Unnamed: 37                                                                  19 non-null     object
 38  Unnamed: 38                                                                  19 non-null     object
 39  Unnamed: 39                                                                  19 non-null     object
 40  Unnamed: 40                                                                  19 non-null     object
 41  Unnamed: 41                                                                  19 non-null     object
dtypes: object(42)
memory usage: 6.7+ KB

In [6]:
income_df

,B19001,Household Income in the Past 12 Months (In 2022 Inflation-adjusted Dollars),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
0,NaN,All of Nashville,37013,37015,37027,37062,37064,37072,37073,37075,...,37213,37214,37215,37216,37217,37218,37219,37220,37221,37228
1,NaN,Value,Value,Value,Value,Value,Value,Value,Value,Value,...,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value
2,Total:,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,"Less than $10,000",0.054419,0.044877,0.021233,0.019597,0.015552,0.028406,0.051068,0.026455,0.028586,...,0,0.031019,0.027778,0.016517,0.069057,0.11169,0,0.009129,0.02853,0.016086
4,"$10,000 to $14,999",0.031537,0.023086,0.019192,0.008235,0.03878,0.01513,0.018618,0.011758,0.014965,...,0,0.025216,0.012963,0.017099,0.018447,0.068797,0,0.009129,0.013786,0.060992
5,"$15,000 to $19,999",0.029166,0.028934,0.076222,0.007222,0.027469,0.013578,0.034957,0.034098,0.015909,...,0,0.021554,0.014815,0.038502,0.049888,0.03566,0.035406,0,0.020865,0.091823
6,"$20,000 to $24,999",0.034521,0.027582,0.029536,0.013079,0.013533,0.019958,0.0497,0.038017,0.022738,...,0,0.023489,0.01462,0.027335,0.032563,0.059209,0,0.025726,0.023048,0.021448
7,"$25,000 to $29,999",0.033863,0.043966,0.01715,0.010921,0.017976,0.021466,0.019302,0.047619,0.021031,...,0,0.021209,0.024464,0.026056,0.04283,0.037511,0.02418,0,0.020386,0.023458
8,"$30,000 to $34,999",0.036878,0.036823,0.028583,0.012419,0.030701,0.021596,0.042708,0.032922,0.023428,...,0,0.054093,0.013158,0.032337,0.050209,0.039361,0.046632,0.016598,0.016714,0.039544
9,"$35,000 to $39,999",0.040115,0.04267,0.048319,0.010085,0.024036,0.028622,0.038301,0.041544,0.027206,...,0,0.054231,0.022807,0.054903,0.057186,0.04979,0.080311,0.016598,0.03529,0.080429
10,"$40,000 to $44,999",0.041763,0.052296,0.063155,0.013343,0.048677,0.033105,0.029714,0.026455,0.030475,...,0,0.034128,0.00731,0.030825,0.034729,0.027754,0.013817,0.023651,0.031777,0.022118
11,"$45,000 to $49,999",0.040907,0.044049,0.042194,0.00414,0.015552,0.028708,0.033665,0.038801,0.030874,...,0,0.055682,0.017154,0.062813,0.067052,0.030278,0,0.011618,0.050727,0
12,"$50,000 to $59,999",0.07898,0.095849,0.075949,0.029329,0.043628,0.049011,0.0937,0.076034,0.072246,...,0,0.070328,0.081189,0.091893,0.095364,0.062237,0.126943,0.078008,0.066056,0.11193
13,"$60,000 to $74,999",0.100917,0.120287,0.122091,0.077858,0.165017,0.075391,0.116346,0.067019,0.109549,...,0,0.143282,0.048635,0.10399,0.118062,0.089655,0.07513,0.03195,0.095811,0.157507
14,"$75,000 to $99,999",0.133875,0.164777,0.140738,0.089572,0.134114,0.109962,0.139752,0.151088,0.143693,...,0,0.185976,0.060916,0.139002,0.129852,0.138604,0.153713,0.093776,0.118327,0.117962
15,"$100,000 to $124,999",0.095223,0.102496,0.129304,0.111459,0.154918,0.086038,0.108063,0.140702,0.131597,...,1,0.080207,0.097758,0.081191,0.092557,0.106644,0.202936,0.081743,0.127482,0.096515
16,"$125,000 to $149,999",0.068102,0.058971,0.074997,0.098688,0.069481,0.090047,0.059199,0.078385,0.09502,...,0,0.072884,0.065595,0.099919,0.061758,0.041043,0.093264,0.10083,0.098526,0.008043
17,"$150,000 to $199,999",0.077072,0.064432,0.076222,0.121059,0.114926,0.127635,0.096208,0.113463,0.128619,...,0,0.079585,0.10692,0.091427,0.059753,0.037511,0.086356,0.133195,0.099963,0.018767
18,"$200,000 or more",0.102664,0.048904,0.035116,0.372996,0.085639,0.251347,0.068698,0.075642,0.104065,...,0,0.047116,0.383918,0.086193,0.020693,0.064256,0.061313,0.36805,0.152712,0.133378
19,* Base value of zero; no percentage available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
income_df.columns = income_df.iloc[0]
income_df

,NaN,All of Nashville,37013,37015,37027,37062,37064,37072,37073,37075,...,37213,37214,37215,37216,37217,37218,37219,37220,37221,37228
0,NaN,All of Nashville,37013,37015,37027,37062,37064,37072,37073,37075,...,37213,37214,37215,37216,37217,37218,37219,37220,37221,37228
1,NaN,Value,Value,Value,Value,Value,Value,Value,Value,Value,...,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value
2,Total:,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,"Less than $10,000",0.054419,0.044877,0.021233,0.019597,0.015552,0.028406,0.051068,0.026455,0.028586,...,0,0.031019,0.027778,0.016517,0.069057,0.11169,0,0.009129,0.02853,0.016086
4,"$10,000 to $14,999",0.031537,0.023086,0.019192,0.008235,0.03878,0.01513,0.018618,0.011758,0.014965,...,0,0.025216,0.012963,0.017099,0.018447,0.068797,0,0.009129,0.013786,0.060992
5,"$15,000 to $19,999",0.029166,0.028934,0.076222,0.007222,0.027469,0.013578,0.034957,0.034098,0.015909,...,0,0.021554,0.014815,0.038502,0.049888,0.03566,0.035406,0,0.020865,0.091823
6,"$20,000 to $24,999",0.034521,0.027582,0.029536,0.013079,0.013533,0.019958,0.0497,0.038017,0.022738,...,0,0.023489,0.01462,0.027335,0.032563,0.059209,0,0.025726,0.023048,0.021448
7,"$25,000 to $29,999",0.033863,0.043966,0.01715,0.010921,0.017976,0.021466,0.019302,0.047619,0.021031,...,0,0.021209,0.024464,0.026056,0.04283,0.037511,0.02418,0,0.020386,0.023458
8,"$30,000 to $34,999",0.036878,0.036823,0.028583,0.012419,0.030701,0.021596,0.042708,0.032922,0.023428,...,0,0.054093,0.013158,0.032337,0.050209,0.039361,0.046632,0.016598,0.016714,0.039544
9,"$35,000 to $39,999",0.040115,0.04267,0.048319,0.010085,0.024036,0.028622,0.038301,0.041544,0.027206,...,0,0.054231,0.022807,0.054903,0.057186,0.04979,0.080311,0.016598,0.03529,0.080429
10,"$40,000 to $44,999",0.041763,0.052296,0.063155,0.013343,0.048677,0.033105,0.029714,0.026455,0.030475,...,0,0.034128,0.00731,0.030825,0.034729,0.027754,0.013817,0.023651,0.031777,0.022118
11,"$45,000 to $49,999",0.040907,0.044049,0.042194,0.00414,0.015552,0.028708,0.033665,0.038801,0.030874,...,0,0.055682,0.017154,0.062813,0.067052,0.030278,0,0.011618,0.050727,0
12,"$50,000 to $59,999",0.07898,0.095849,0.075949,0.029329,0.043628,0.049011,0.0937,0.076034,0.072246,...,0,0.070328,0.081189,0.091893,0.095364,0.062237,0.126943,0.078008,0.066056,0.11193
13,"$60,000 to $74,999",0.100917,0.120287,0.122091,0.077858,0.165017,0.075391,0.116346,0.067019,0.109549,...,0,0.143282,0.048635,0.10399,0.118062,0.089655,0.07513,0.03195,0.095811,0.157507
14,"$75,000 to $99,999",0.133875,0.164777,0.140738,0.089572,0.134114,0.109962,0.139752,0.151088,0.143693,...,0,0.185976,0.060916,0.139002,0.129852,0.138604,0.153713,0.093776,0.118327,0.117962
15,"$100,000 to $124,999",0.095223,0.102496,0.129304,0.111459,0.154918,0.086038,0.108063,0.140702,0.131597,...,1,0.080207,0.097758,0.081191,0.092557,0.106644,0.202936,0.081743,0.127482,0.096515
16,"$125,000 to $149,999",0.068102,0.058971,0.074997,0.098688,0.069481,0.090047,0.059199,0.078385,0.09502,...,0,0.072884,0.065595,0.099919,0.061758,0.041043,0.093264,0.10083,0.098526,0.008043
17,"$150,000 to $199,999",0.077072,0.064432,0.076222,0.121059,0.114926,0.127635,0.096208,0.113463,0.128619,...,0,0.079585,0.10692,0.091427,0.059753,0.037511,0.086356,0.133195,0.099963,0.018767
18,"$200,000 or more",0.102664,0.048904,0.035116,0.372996,0.085639,0.251347,0.068698,0.075642,0.104065,...,0,0.047116,0.383918,0.086193,0.020693,0.064256,0.061313,0.36805,0.152712,0.133378
19,* Base value of zero; no percentage available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
income_df_clean = income_df.drop([19])

In [40]:
income_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 42 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nan               17 non-null     object
 1   All of Nashville  19 non-null     object
 2   37013             19 non-null     object
 3   37015             19 non-null     object
 4   37027             19 non-null     object
 5   37062             19 non-null     object
 6   37064             19 non-null     object
 7   37072             19 non-null     object
 8   37073             19 non-null     object
 9   37075             19 non-null     object
 10  37076             19 non-null     object
 11  37080             19 non-null     object
 12  37082             19 non-null     object
 13  37086             19 non-null     object
 14  37115             19 non-null     object
 15  37122             19 non-null     object
 16  37135             19 non-null     object
 17  37138             19 non-null     object
 18  37143             19 non-null     object
 19  37172             19 non-null     object
 20  37189             19 non-null     object
 21  37201             19 non-null     object
 22  37203             19 non-null     object
 23  37204             19 non-null     object
 24  37205             19 non-null     object
 25  37206             19 non-null     object
 26  37207             19 non-null     object
 27  37208             19 non-null     object
 28  37209             19 non-null     object
 29  37210             19 non-null     object
 30  37211             19 non-null     object
 31  37212             19 non-null     object
 32  37213             19 non-null     object
 33  37214             19 non-null     object
 34  37215             19 non-null     object
 35  37216             19 non-null     object
 36  37217             19 non-null     object
 37  37218             19 non-null     object
 38  37219             19 non-null     object
 39  37220             19 non-null     object
 40  37221             19 non-null     object
 41  37228             19 non-null     object
dtypes: object(42)
memory usage: 6.4+ KB

In [54]:
#got rid of NaN column because it was affecting my calculations
income_stripped = income_df_clean.dropna(axis=1)
income_stripped

,All of Nashville,37013,37015,37027,37062,37064,37072,37073,37075,37076,...,37213,37214,37215,37216,37217,37218,37219,37220,37221,37228
0,All of Nashville,37013,37015,37027,37062,37064,37072,37073,37075,37076,...,37213,37214,37215,37216,37217,37218,37219,37220,37221,37228
1,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value,...,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,0.031537,0.023086,0.019192,0.008235,0.03878,0.01513,0.018618,0.011758,0.014965,0.031688,...,0,0.025216,0.012963,0.017099,0.018447,0.068797,0,0.009129,0.013786,0.060992
5,0.029166,0.028934,0.076222,0.007222,0.027469,0.013578,0.034957,0.034098,0.015909,0.012313,...,0,0.021554,0.014815,0.038502,0.049888,0.03566,0.035406,0,0.020865,0.091823
6,0.034521,0.027582,0.029536,0.013079,0.013533,0.019958,0.0497,0.038017,0.022738,0.047852,...,0,0.023489,0.01462,0.027335,0.032563,0.059209,0,0.025726,0.023048,0.021448
7,0.033863,0.043966,0.01715,0.010921,0.017976,0.021466,0.019302,0.047619,0.021031,0.025735,...,0,0.021209,0.024464,0.026056,0.04283,0.037511,0.02418,0,0.020386,0.023458
8,0.036878,0.036823,0.028583,0.012419,0.030701,0.021596,0.042708,0.032922,0.023428,0.038574,...,0,0.054093,0.013158,0.032337,0.050209,0.039361,0.046632,0.016598,0.016714,0.039544
9,0.040115,0.04267,0.048319,0.010085,0.024036,0.028622,0.038301,0.041544,0.027206,0.02416,...,0,0.054231,0.022807,0.054903,0.057186,0.04979,0.080311,0.016598,0.03529,0.080429
10,0.041763,0.052296,0.063155,0.013343,0.048677,0.033105,0.029714,0.026455,0.030475,0.067169,...,0,0.034128,0.00731,0.030825,0.034729,0.027754,0.013817,0.023651,0.031777,0.022118
11,0.040907,0.044049,0.042194,0.00414,0.015552,0.028708,0.033665,0.038801,0.030874,0.032388,...,0,0.055682,0.017154,0.062813,0.067052,0.030278,0,0.011618,0.050727,0
12,0.07898,0.095849,0.075949,0.029329,0.043628,0.049011,0.0937,0.076034,0.072246,0.086835,...,0,0.070328,0.081189,0.091893,0.095364,0.062237,0.126943,0.078008,0.066056,0.11193
13,0.100917,0.120287,0.122091,0.077858,0.165017,0.075391,0.116346,0.067019,0.109549,0.116246,...,0,0.143282,0.048635,0.10399,0.118062,0.089655,0.07513,0.03195,0.095811,0.157507
14,0.133875,0.164777,0.140738,0.089572,0.134114,0.109962,0.139752,0.151088,0.143693,0.154762,...,0,0.185976,0.060916,0.139002,0.129852,0.138604,0.153713,0.093776,0.118327,0.117962
15,0.095223,0.102496,0.129304,0.111459,0.154918,0.086038,0.108063,0.140702,0.131597,0.106501,...,1,0.080207,0.097758,0.081191,0.092557,0.106644,0.202936,0.081743,0.127482,0.096515
16,0.068102,0.058971,0.074997,0.098688,0.069481,0.090047,0.059199,0.078385,0.09502,0.082341,...,0,0.072884,0.065595,0.099919,0.061758,0.041043,0.093264,0.10083,0.098526,0.008043
17,0.077072,0.064432,0.076222,0.121059,0.114926,0.127635,0.096208,0.113463,0.128619,0.063142,...,0,0.079585,0.10692,0.091427,0.059753,0.037511,0.086356,0.133195,0.099963,0.018767
18,0.102664,0.048904,0.035116,0.372996,0.085639,0.251347,0.068698,0.075642,0.104065,0.06606,...,0,0.047116,0.383918,0.086193,0.020693,0.064256,0.061313,0.36805,0.152712,0.133378

In [58]:
lower = income_stripped.drop([0,1,2,3,11,12,13,14,15,16,17,18])

In [59]:
lower

,All of Nashville,37013,37015,37027,37062,37064,37072,37073,37075,37076,...,37213,37214,37215,37216,37217,37218,37219,37220,37221,37228
4,0.031537,0.023086,0.019192,0.008235,0.03878,0.01513,0.018618,0.011758,0.014965,0.031688,...,0,0.025216,0.012963,0.017099,0.018447,0.068797,0,0.009129,0.013786,0.060992
5,0.029166,0.028934,0.076222,0.007222,0.027469,0.013578,0.034957,0.034098,0.015909,0.012313,...,0,0.021554,0.014815,0.038502,0.049888,0.03566,0.035406,0,0.020865,0.091823
6,0.034521,0.027582,0.029536,0.013079,0.013533,0.019958,0.0497,0.038017,0.022738,0.047852,...,0,0.023489,0.01462,0.027335,0.032563,0.059209,0,0.025726,0.023048,0.021448
7,0.033863,0.043966,0.01715,0.010921,0.017976,0.021466,0.019302,0.047619,0.021031,0.025735,...,0,0.021209,0.024464,0.026056,0.04283,0.037511,0.02418,0,0.020386,0.023458
8,0.036878,0.036823,0.028583,0.012419,0.030701,0.021596,0.042708,0.032922,0.023428,0.038574,...,0,0.054093,0.013158,0.032337,0.050209,0.039361,0.046632,0.016598,0.016714,0.039544
9,0.040115,0.04267,0.048319,0.010085,0.024036,0.028622,0.038301,0.041544,0.027206,0.02416,...,0,0.054231,0.022807,0.054903,0.057186,0.04979,0.080311,0.016598,0.03529,0.080429
10,0.041763,0.052296,0.063155,0.013343,0.048677,0.033105,0.029714,0.026455,0.030475,0.067169,...,0,0.034128,0.00731,0.030825,0.034729,0.027754,0.013817,0.023651,0.031777,0.022118

In [62]:
lower_cut = lower.sum(axis = 0)

In [63]:
lower_cut

0
All of Nashville    0.247842
37013               0.255358
37015               0.282156
37027               0.075304
37062               0.201171
37064               0.153455
37072                 0.2333
37073               0.232412
37075               0.155752
37076               0.247491
37080               0.233157
37082               0.186003
37086               0.226846
37115               0.360588
37122               0.126618
37135               0.052348
37138               0.166052
37143               0.192485
37172               0.277259
37189               0.086152
37201                      0
37203                0.23931
37204                0.14434
37205               0.154161
37206               0.232312
37207               0.298803
37208               0.278431
37209               0.264782
37210               0.433687
37211               0.281201
37212               0.232055
37213                      0
37214               0.233921
37215               0.110136
37216               0.227056
37217               0.285852
37218               0.318082
37219               0.200345
37220               0.091701
37221               0.161867
37228               0.339812
dtype: object